@model IEnumerable<Product>;

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>product List </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="product" asp-action="UpSert" class="btn btn-primary"> Create Category</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped mt-4 ">
    <thead>
        <tr>
            <td> Title</td>
            <td>Author</td>
            <td>Description</td>
            <td>ISBN</td>
            <td>Price</td>
            <td>Category</td>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.Author</td>
                <td class="w-25">@product.Description</td>
                <td>@product.ISBN</td>
                <td >@product.Price</td>
                <td>@product.category.Name</td>
                <td class="" >
                    <div class=" w-100 btn-group" role="group">
                        <a asp-area="Admin" asp-controller="product" asp-action="upsert" asp-route-id="@product.Id" class="w- btn btn-primary rounded mx-3"> Edit</a>
                        <a asp-area="Admin" asp-controller="product" asp-action="delete" asp-route-id="@product.Id" class="btn btn-danger rounded "> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
